
GMPSwift.xcodeproj/project.xcworkspace/xcuserdata/chema.xcuserdatad/xcdebugger/Expressions.xcexplist

GMPSwift.xcodeproj/xcuserdata/chema.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

IntegerProtocolsCheck.playground/timeline.xctimeline
